  .item-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .item-details {
    display: flex;
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }
  
  .item-image {
    flex: 1;
    text-align: center;
  }
  
  .item-image img {
    width: 300px;
    height: 300px;
  }
  
  .item-info {
    flex: 2;
    margin-left: 20px;
  }
  
  .item-title {
    font-size: 2em;
    margin: 0 0 10px;
  }
  
  .item-description {
    margin: 20px 0;
    line-height: 1.6;
  }
  
  p.item-price {
    font-size: 1.8em !important;
    color: #0a0504 !important;
    margin-bottom: 20px;
  }
  
  .quantity-selector {
    display: inline-block;
    margin-right: 20px;
  }
  

  
  .quantity-selector input {
    width: 70px;
    padding: 8px;
    font-size: 2em;
  }
  
  .add-to-cart-button {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    z-index: 1;
  }
  
  .add-to-cart-button:hover {
    background-color: #e68a00;
  }
  
  .rating {
    margin-top: 20px;
  }
  
  .star {
    font-size: 2em;
    cursor: pointer;
    color: #ccc;
    margin-right: 5px;
    background: none;
    border: none;
    padding: 0;
  }
  
  .star.filled {
    color: #ff9900;
  }
  
  .action-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }


  .succes-boutht{
    background-color: rgb(10, 255, 10);
    padding: 0.8em;
    border-radius: 10px;
    text-align: center;
  }
  .raiting-small{
    font-size: 1.7em;
    margin: 20px
  }

  .item-rate{
    color: #ff9900;
    margin-right: 0px;
  }
  .header-div{
    display: flex;
    justify-content: space-between;
  }

  .rate-button{
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    bottom: 3px;
    z-index: 1;
  }
  .rate-button:hover {
    background-color: #e68a00;
  }
  .is-rated{
    padding: 0.3em;
    position: absolute;
    background-color: rgb(190, 255, 10);
    border-radius: 10px;
  }